# Mac
.DS_Store

# Node
npm-debug.log
node_modules/

# Yarn
yarn-error.log
yarn.lock

# TypeScript & TSLint
tsconfig.json
tslint.json

# Rollup
rollup.config.js

# Editors
.vscode/
.idea

# Editorconfig
.editorconfig

# Build dir
build/

# Docs dir
docs/

# Scripts dir
scripts/

# Git repository
.git/
